* {
    box-sizing: border-box;
}


body {

    margin: 0;
    padding: 0;

    font-family: Arial, Tahoma, sans-serif;

    background: #121826;
    color: #ffffff;

    direction: rtl;

}


/* Header */

header {

    background: #0b3a5b;

    padding: 8px 10px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.35);

}


.brand {

    width: 100%;

    text-align: center;

    margin: 0 auto;

    padding: 20px 15px;

    display: block;

}


.brand h1 {

    margin: 0;

    font-size: 32px;

    color: #ffffff;

}


.brand p {

    margin: 8px 0;

    font-size: 18px;

    color: #8FDBFF;

}


.brand span {

    font-size: 16px;

    color: #D0D0D0;

}


/* Navigation */

nav {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 8px;

    padding: 2px 5px;

    flex-wrap: wrap;

}


nav a {

    color: #B8B8B8;

    text-decoration: none;

    padding: 6px 12px;

    font-size: 15px;

    transition: 0.3s;

}


nav a:hover {

    color: #ffffff;

    border: 1px solid #1d6085;

    border-radius: 8px;

}


/* News Bar */

.news-bar {

    width: 90%;

    max-width: 1100px;

    margin: 25px auto;

    padding: 14px 10px;

    text-align: center;

    color: #D0D0D0;

    font-size: 17px;

    border-top: 2px solid #1d6085;

    border-bottom: 2px solid #1d6085;

}



/* Cards Container */

.container {

    width: 92%;

    max-width: 1250px;

    margin: 25px auto;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 18px;

}



/* Cards */

.card {

    background: transparent;

    text-align: center;

    padding: 16px 12px;

    border: 1px solid transparent;

    border-radius: 10px;

    transition: 0.3s;

}



.card:hover {

    border: 1px solid #8FDBFF;

    border-radius: 12px;

}



/* Icons */

.icon {

    font-size: 30px;

    margin-bottom: 8px;

}



/* Titles */

.card h2 {

    margin: 8px 0;

    font-size: 20px;

    color: #8FDBFF;

}



/* Description */

.card p {

    font-size: 14px;

    line-height: 1.5;

    color: #CFCFCF;

}



/* Footer */

footer {

    text-align: center;

    padding: 25px;

    color: #999;

}



/* Mobile */

@media (max-width: 900px) {

    .container {

        grid-template-columns: repeat(2, 1fr);

    }

}

@media (max-width: 600px) {

    .container {

        grid-template-columns: 1fr;

    }

}
